<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msplit"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />
	
	<uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".homepage.HomePage"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_home_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.msplit.edit.EditSplitActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
        </activity>
    </application>
    

</manifest>